.contentContainer{
    height: 100%;
    background: #f2f2f2;
}
.scrollContent{
    overflow-y: auto;
    position: relative;
    z-index: 1;
    background: #f2f2f2;
    transition: margin 0.25s;
    padding-top: 70px;
}
.contentBody{
    min-height: 800px;
    max-width: 860px;
    background: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 30px 55px 200px 55px;
}

// 头部
.title_component{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .user_com{
        margin-right: 50px;
    }
}
.icon_save{
    margin-right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    
}
.icon_save:hover{
    color: #40a9ff;
}